<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLshortener</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Url Shortener</h1>
        <form action="shortUrls" method="post">
            <input type="url" name="fullurl" id="fullurl" class="input" placeholder="Url">
            <button type="submit" class="btn">Shrink</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Click</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl =>{ %>
                    <tr>
                        <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                        <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                        <td><%= shortUrl.clicks %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>